# Ignore folders
# foldername/

#Ignore specific file types
*.lufr
*.nirs
*.snirf
*.ply
*.json
*.csv
*.prepro
*.nii
*.mshs
*.rmap
*.jac
*.injac
*.mp4
*.jpg
*.nii
*.nii.gz

#Include the Barney template .nii files
!data/templates/barney/*.nii
