# Ignore folders
# foldername/

#Ignore specific file types
*.lufr
*.nirs
*.snirf
*.ply
*.json
*.csv
*.prepro
*.nii
*.mshs
*.rmap
*.jac
*.injac
*.mp4
*.jpg
*.nii
*.nii.gz
*.pdf

#Include the Barney template .nii files (Not needed any more but this is the syntax how to do it.)
#!data/templates/barney/*.nii

